<app-navbar></app-navbar>
<div class="container" style="margin-top: 10px;">
<form *ngIf="isAddBook" [formGroup]="formAddBook" (ngSubmit)="addBook()">
    <h5>Add book</h5>
    <div class="mb-3">
      <label for="dateOfPublic" class="form-label">Date publication</label>
      <input type="date" class="form-control" [formControlName]="'date'" id="dateOfPublic" aria-describedby="dateHelper">
    </div>
    <div class="mb-3">
      <label for="genre" class="form-label">Genre</label>
      <input type="text" class="form-control" [formControlName]="'genre'" id="genre">
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" class="form-control"  [formControlName]="'name'" id="Name">
      </div>
      <div class="mb-3">
        <label for="Author" class="form-label">Author</label>
        <select class="form-select" aria-label="Default select example"  [formControlName]="'author'">
            <option *ngFor="let authors of authorList" value={{authors.id}}>{{authors.name}}</option>
          </select>
      </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
  <form *ngIf="isAddAuthor">
    <h5>Add author</h5>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <form *ngIf="isUpdateBook">
    <h5>Update book</h5>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <form *ngIf="isUpdateAuthor">
    <h5>Update author</h5>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>